<div class="row">
  <div "topic_create">
    <%= form_with model:topic, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class = 'topic_form '>
      <%= f.text_field :title,\
      class: 'form-control' ,size: "50", id:'title',\
      placeholder: "スレッドを作成するにはタイトルを入力してください"%>
    </div>
    
    <div class="article-tags-field">
      
      <%= f.text_field :tag_list,value: @tag_list, class: "form-control", size: "30", id:'tag_list',\
      placeholder: "タグをつける。複数つけるには','で区切ってください。"%>
      
    </div>    
      <%= f.submit "作成", class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>