<% provide(:title,"top_page") %>

  <div class="home-title">
    <h1>なんでも掲示板</h1>
  </div>
  <div class="home-info">
    <P>好きな事をみんなで話そう</P>
    <% if logged_in? %>
    
    <% else %>   
    <p>スレッド立てる、コメントするには<br>
    <%= link_to "新規ユーザー登録", signup_path %> or
    <%= link_to "ログイン", login_path %>
    してください</p>
    <% end %>
  </div>
  
  <div class="search" style="display:inline-flex">
    <%= render partial: 'static_pages/tag_search' %>
    <%= render partial: 'static_pages/title_search' %>
  </div>
  
  <%= paginate @topics %>
  
  <%= render partial: 'static_pages/topic', locals: { topics: @topics } %>
  
  <%= paginate @topics %>
  
  <%= render partial: 'static_pages/topic_form',  locals: { topic: @topic } %>