<% provide(:title,"signup") %>

  <h1 class="signuptitle">ユーザー登録</h1>
  
  
  <div class="row">
  <div class="col-md-6 offset-md-3">
  <%= form_with model: @user, local: true do |f| %>
　<%= render 'shared/error_messages', object: f.object %>

  <div class = 'form-group'>
      <%= f.label :name, "ニックネーム" %>
      <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class = 'form-group'>
      <%= f.label :email, "e-mail" %>
      <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class = 'form-group'>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class = 'form-group'>
      <%= f.label :"password_confirmation","パスワード(確認)"  %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <div class="signupbtn">
      <%= f.submit "ユーザー作成", class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>
  </div>
